.menu {
  padding: 8px 7px 6px;
  position: absolute;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  background-color: #000;
  border-radius: 4px;
  transition: opacity 0.75s;
}

.menu::before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  bottom: -6px;
  left: 50%;
  margin-left: -4px;
  border-top-color: #000;
  border-top-style: solid;
  border-top-width: 6px;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

.font {
  margin: 21px 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.84);
}

.code {
  background-color: #eee;
  font-family: monospace, "Courier New", Courier, Menlo, Monaco;
}

.blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.6);
  padding-left: 10px;
  margin-left: -13px;
  padding-bottom: 2px;
  letter-spacing: 0.01rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 400;
  font-style: italic;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -0.003em;
}

.list {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 48px;
}

.numberList {
  padding-left: 0;
}

.numberListItem {
  margin-left: 25px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.84);
  line-height: 48px;
}
