.menu {
  position: absolute;
  display: flex;
  height: 32px;
  width: 32px;
  z-index: 1;
  top: -10000px;
  left: -10000px;
  margin-top: -6px;
  opacity: 0;
  border-radius: 16px;
  transition: opacity 0.75s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: rotate(45deg);
}

.inputFile {
  visibility: hidden;
}
